.loginform {
  width:100%;
  text-align:center;
}
.centerparent {
  display: flex;
  text-align: center;
  height: 90%; /* Or whatever */
}

.centerchild {
  width: 300px;  /* Or whatever */
  height: 300px; /* Or whatever */
  margin: auto;  /* Magic! */
}

.flex-container {
  display: flex;
  width:100%;
  justify-content: center;
  flex-flow: row wrap;
}

.flex-list {
  background: lightgreen;
  min-width: 200px;
  height: 150px;
  flex: 1;
}
.flex-content {
  background: skyblue;
  min-width: 600px;
  height: 150px;
  flex:100;
}
#nav {
  list-style:none;
  width:162px;
  margin-left:9px;
  margin-top:9px;
}
#nav li {
  width:160px;
  float:left;
  cursor:pointer;
  position:relative;
  background:#666;
  text-align:center;
  border:1px solid #000;
  border-bottom:0;
}
#nav .last {
  border-bottom:1px solid #000;
}
#nav li:hover {
  background:#333;
}
#nav a {
  display:block;
  color:#000;
  font-weight:bold;
  text-decoration:none;
  line-height:2em;
}
