.loginform {
  width:100%;
  text-align:center;
}
.centerparent {
display: flex;
text-align: center;
height: 90%; /* Or whatever */
}

.centerchild {
width: 300px;  /* Or whatever */
height: 300px; /* Or whatever */
margin: auto;  /* Magic! */
}

.flex-container {
  display: flex;
  width:100%;
  justify-content: center;
  flex-flow: row wrap;
}

.flex-list {
  background: lightgreen;
  min-width: 200px;
  height: 150px;
  flex: 1;
}
.flex-content {
  background: skyblue;
  min-width: 600px;
  height: 150px;
  flex:100;
}
